#item--ITM{
    border: 1px solid black;
    border-radius: 0.4rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    min-width: 418px;
    max-width: 418px;
}

#item--Container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}